.scheduler{
    overflow: auto;
}

.scheduler .meeting-box {
    position: absolute;
    background-color: aqua;
    border: 1px solid black;
}

.scheduler .meeting-box span{
    margin: 5px;
}

.grid-line{
    border-top: 1px dotted grey;
    left:0px;
    height: 120px;
    width: 600px;
    position: absolute;
}
.grid-line:last-child {
    border-bottom: 1px dotted grey;
}